<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <RollingFile name="MyFile" fileName="${sys:catalina.home}/logs/logFile.log" filePattern="${sys:catalina.home}/logs/logFile-%d{MM-dd-yyyy}.log" immediateFlush="true">
            <PatternLayout pattern="%highlight{%d [%t] %-5level:}{FATAL=white, ERROR=red, WARN=blue, INFO=white, DEBUG=green, TRACE=blue} - %msg%n"/>
            <TimeBasedTriggeringPolicy />
        </RollingFile>

        <RollingFile name="AliceAppender" fileName="${sys:catalina.home}/logs/alicelog.log" filePattern="${sys:catalina.home}/logs/alicelog-%d{MM-dd-yyyy}.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <TimeBasedTriggeringPolicy />
        </RollingFile>

        <RollingFile name="BobAppender" fileName="${sys:catalina.home}/logs/boblog.log" filePattern="${sys:catalina.home}/logs/boblog-%d{MM-dd-yyyy}.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <TimeBasedTriggeringPolicy />
        </RollingFile>

        <RollingFile name="ClaireAppender" fileName="${sys:catalina.home}/logs/clairelog.log" filePattern="${sys:catalina.home}/logs/clairelog-%d{MM-dd-yyyy}.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <TimeBasedTriggeringPolicy />
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="MyFile"/>
        </Root>

        <Logger name="AliceLogger" level="all">
            <AppenderRef ref="AliceAppender"/>
        </Logger>

        <Logger name="BobLogger" level="all">
            <AppenderRef ref="BobAppender"/>
        </Logger>

        <Logger name="AliceLogger.ClaireLogger" level="all">
            <AppenderRef ref="ClaireAppender"/>
        </Logger>
    </Loggers>
</Configuration>
