@import "custom.css";
@import "style.css";

.image-check-box ul {
    list-style-type: none;
    padding: 0;
}

.image-check-box li {
    display: inline-block;
}

.image-check-box input[type="checkbox"] {
    display: none;
}

.image-check-box label {
    padding: 10px;
    display: block;
    position: relative;
    cursor: pointer;
}

.image-check-box label:before {
    background-color: #ffffff;
    color: #ffffff;
    content: " ";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    text-align: center;
    transition-duration: 0.5s;
    transform: scale(0);
    z-index: 1;
}

.image-check-box label img {
    border: 1px solid #ced4da;
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.image-check-box :checked + label:before {
    content: "✓";
    background-color: #0d6efd;
    transform: scale(1);
}

.image-check-box :checked + label img {
    transform: scale(0.9);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    z-index: -1;
}



