/*
    global setting
 */
.main-container {
    min-height: calc(100vh - 112px);
}
/*
    images in productDetail.jsp
 */
.product-detail img {
    object-fit: cover;
    object-position: center;
}

/*
    it ensures that the arrows of all carousels stay in the foreground when resizing the page
 */
.carousel-control-prev, .carousel-control-next {
    z-index: 100;
}


/*
    product carousel  linear gradient for arrows and indicators
 */
.product-carousel .carousel-control-prev:hover, .product-carousel .carousel-control-next:hover {
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(204,204,204,0.5) 10%, rgba(153,153,153,1) 100%);
}

.product-carousel .carousel-indicators {
    background: rgba(204,204,204,0.4);
    border-radius: 0.25rem;
    bottom: -50px;
}

/*
    featured-products in homepage.jsp
 */
.featured-products .price {
    color: grey;
    font-size: 22px;
}

.featured-products a, .featured-products a:hover, .featured-products a:focus, .featured-products a:active {
    text-decoration: none;
    color: inherit;
}
/*
    featured carousel
 */
.featured-carousel .card {
    max-width: 90%;
    margin: auto;
    text-align: center;
}

.featured-carousel .card a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.featured-carousel img {
    height: 200px;
    width: 200px;
    min-height: 200px;
    min-width: 200px;
    object-fit: cover;
    object-position: center;
}

@media screen and (min-width: 768px) {
    .featured-carousel .card {
        max-width: 70%;
    }
    .featured-carousel .card-featured-content {
        width: calc(70% - 300px);
    }
    .featured-carousel img {
        height: 200px;
        width: 300px;
    }
}

@media screen and (min-width:992px) {
    .featured-carousel .card-featured-content {
        width: calc(70% - 400px);
    }
    .featured-carousel img {
        height: 300px;
        width: 400px;
    }
}
/*
    card left - right

 */
@media screen and (min-width: 768px) {
    .card-header-left {
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }

    .card-header-right {
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0  !important;
    }
}
/*
    Ticket color
 */
.ticket-OPEN{color: green;}

.ticket-PROCESSING{color: blue;}

.ticket-CLOSED{color: red;}

.ticket-RETURN{color: black;}